.log {
  height: 60px;
  width: 1200px;
  margin: 20px auto 0;
}
.box {
  width: 400px;
  height: 310px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 30px;
}
.box .title {
  height: 60px;
  background: url(../images/login_title.png) no-repeat center;
}
.box .reg-box {
  display: none;
}
